<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>Hi, my name is Mirko and I'm a software developer from Zagreb. I code Ruby on Rails, but I'm well introduced to other frameworks (Elixir/Phoenix, Ember.js, ASP .Net) and languages. Feel free to contact me if you are looking for a full time (and full stack) developer. You can <a href="https://marvin.kset.org/~cex/CV-MirkoCerovac.pdf" target="_blank">download my CV here</a>.</p>
</div><!--//summary-->
</section><!--//section-->