<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Web Developer</h3>
                            <div class="time">June 2015 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Floating Point LTD, Zagreb</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>During my time in Floating Point, I worked on several Ruby on Rails projects. Besides Ruby on Rails, I was included in other smaller projects (such as Elixir/Phoenix, React and even React Native applications).</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Full Stack Ruby on Rails Developer (remote)</h3>
                            <div class="time">October 2015 - April 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Clinkle (Treats), Inc., San Francisco</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I was maintaining code base and developing features for a large, full stack Ruby on Rails monolith. My work tasks were HTML (CSS) slicing, maintaining frontend and backend applications, developing new features for both backend(Ruby) and frontend(JS), event-driven Redis coding and many others.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">C# and Java developer</h3>
                            <div class="time">November 2014 - June 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Faculty of Electrical Engineering and Computing, Zagreb</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>My main focus was a large web application (ASP .Net MVC) for GSM data visualization. Minor projects were mostly simple Java applets.</p>  
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Developer</h3>
                            <div class="time">July 2014 - November 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Faculty of Electrical Engineering and Computing, Zagreb</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I worked on a project called "Digital berth for ships". My work included all aspects of software development and even hardware development. Software tasks were varying from high-level object-oriented GUI development to low-level C coding for microcontrollers. This project was funded by the largest marinas in Croatia.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->